<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_jyYX4PEfEequ19raZtcvXg" specification="@EventDriven&#xA;@ChildFirstExecution&#xA;&#xA;interface:&#xA;&#xA;in event evHaslerSpeedValid&#xA;in event evPulseGenSpeedValid&#xA;in event evGPSSpeedValid&#xA;&#xA;out event evSpeedAvailable&#xA;out event evSpeedLost&#xA;&#xA;const SPEED_HASLER_TIMEOUT : integer = 10&#xA;const SPEED_PULSE_TIMEOUT : integer = 10&#xA;const SPEED_GPS_TIMEOUT : integer = 10&#xA;&#xA;operation panelDisplayDashedLine()" name="speedMonitor">
    <regions xmi:id="_lo_UMPEfEequ19raZtcvXg" name="r1">
      <vertices xsi:type="sgraph:Entry" xmi:id="_lo_UMfEfEequ19raZtcvXg">
        <outgoingTransitions xmi:id="_lo_UMvEfEequ19raZtcvXg" specification="" target="_lo_7QPEfEequ19raZtcvXg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_lo_7QPEfEequ19raZtcvXg" specification="every 1 s /&#xD;&#xA;raise evSpeedLost;&#xD;&#xA;panelDisplayDashedLine()" name="SpeedMissing" incomingTransitions="_2xQYgfYIEeq6Moi25ks08g _lo_UMvEfEequ19raZtcvXg _2nSkPPYIEeq6Moi25ks08g _2snJFPYIEeq6Moi25ks08g">
        <outgoingTransitions xmi:id="_2nQH8PYIEeq6Moi25ks08g" specification="evHaslerSpeedValid" target="_2nQvFfYIEeq6Moi25ks08g"/>
        <outgoingTransitions xmi:id="_2sks0PYIEeq6Moi25ks08g" specification="evPulseGenSpeedValid" target="_2slT-PYIEeq6Moi25ks08g"/>
        <outgoingTransitions xmi:id="_2xOjUPYIEeq6Moi25ks08g" specification="evGPSSpeedValid" target="_2xOjbPYIEeq6Moi25ks08g"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_2nQvFfYIEeq6Moi25ks08g" specification="entry / &#xD;&#xA;raise evSpeedAvailable" name="UsingHaslerSpeed" incomingTransitions="_2nQH8PYIEeq6Moi25ks08g _2smiCvYIEeq6Moi25ks08g _2nR9IvYIEeq6Moi25ks08g _2xPKcPYIEeq6Moi25ks08g">
        <outgoingTransitions xmi:id="_2nSkPPYIEeq6Moi25ks08g" specification="after SPEED_HASLER_TIMEOUT s" target="_lo_7QPEfEequ19raZtcvXg"/>
        <outgoingTransitions xmi:id="_2nR9IvYIEeq6Moi25ks08g" specification="evHaslerSpeedValid" target="_2nQvFfYIEeq6Moi25ks08g"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_2slT-PYIEeq6Moi25ks08g" specification="entry /&#xD;&#xA;raise evSpeedAvailable" name="UsingPulseGenSpeed" incomingTransitions="_2sks0PYIEeq6Moi25ks08g _2xPxf_YIEeq6Moi25ks08g _2sl7APYIEeq6Moi25ks08g">
        <outgoingTransitions xmi:id="_2snJFPYIEeq6Moi25ks08g" specification="after SPEED_PULSE_TIMEOUT s" target="_lo_7QPEfEequ19raZtcvXg"/>
        <outgoingTransitions xmi:id="_2smiCvYIEeq6Moi25ks08g" specification="evHaslerSpeedValid" target="_2nQvFfYIEeq6Moi25ks08g"/>
        <outgoingTransitions xmi:id="_2sl7APYIEeq6Moi25ks08g" specification="evPulseGenSpeedValid" target="_2slT-PYIEeq6Moi25ks08g"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_2xOjbPYIEeq6Moi25ks08g" specification="entry /&#xD;&#xA;raise evSpeedAvailable" name="UsingGPSSpeed" incomingTransitions="_2xOjUPYIEeq6Moi25ks08g _2xPKg_YIEeq6Moi25ks08g">
        <outgoingTransitions xmi:id="_2xQYgfYIEeq6Moi25ks08g" specification="after SPEED_GPS_TIMEOUT s" target="_lo_7QPEfEequ19raZtcvXg"/>
        <outgoingTransitions xmi:id="_2xPxf_YIEeq6Moi25ks08g" specification="evPulseGenSpeedValid" target="_2slT-PYIEeq6Moi25ks08g"/>
        <outgoingTransitions xmi:id="_2xPKg_YIEeq6Moi25ks08g" specification="evGPSSpeedValid" target="_2xOjbPYIEeq6Moi25ks08g"/>
        <outgoingTransitions xmi:id="_2xPKcPYIEeq6Moi25ks08g" specification="evHaslerSpeedValid" target="_2nQvFfYIEeq6Moi25ks08g"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_jyiv8PEfEequ19raZtcvXg" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_jyYX4PEfEequ19raZtcvXg" measurementUnit="Pixel">
    <children xsi:type="notation:Shape" xmi:id="_jyqrx_EfEequ19raZtcvXg" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_jyrS0PEfEequ19raZtcvXg" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_jyrS0fEfEequ19raZtcvXg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_jyrS0vEfEequ19raZtcvXg"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_jyrS0_EfEequ19raZtcvXg" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_jyrS1PEfEequ19raZtcvXg"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_jyrS1fEfEequ19raZtcvXg" x="10" y="10" width="200" height="400"/>
    </children>
    <children xmi:id="_lo-GEPEfEequ19raZtcvXg" type="Region" element="_lo_UMPEfEequ19raZtcvXg">
      <children xsi:type="notation:DecorationNode" xmi:id="_lo-GEfEfEequ19raZtcvXg" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_lo-GEvEfEequ19raZtcvXg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_lo-GE_EfEequ19raZtcvXg"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_lo-GFPEfEequ19raZtcvXg" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_lo-GFfEfEequ19raZtcvXg" type="Entry" element="_lo_UMfEfEequ19raZtcvXg">
          <children xmi:id="_lo-GFvEfEequ19raZtcvXg" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_lo-GF_EfEequ19raZtcvXg" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_lo-GGPEfEequ19raZtcvXg"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_lo-GGfEfEequ19raZtcvXg"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_lo-GGvEfEequ19raZtcvXg" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_lo-GG_EfEequ19raZtcvXg"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_lo-GHPEfEequ19raZtcvXg" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_lo-GHfEfEequ19raZtcvXg" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_lo-GHvEfEequ19raZtcvXg" x="1037" y="77"/>
        </children>
        <children xmi:id="_lo-GH_EfEequ19raZtcvXg" type="State" element="_lo_7QPEfEequ19raZtcvXg">
          <children xsi:type="notation:DecorationNode" xmi:id="_lo-GIPEfEequ19raZtcvXg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_lo-GIfEfEequ19raZtcvXg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_lo-GIvEfEequ19raZtcvXg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_lo-GI_EfEequ19raZtcvXg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_lo-GJPEfEequ19raZtcvXg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_lo-GJfEfEequ19raZtcvXg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_lo-GJvEfEequ19raZtcvXg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_lo-GJ_EfEequ19raZtcvXg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_lo-GKPEfEequ19raZtcvXg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_lo-GKfEfEequ19raZtcvXg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_lo-GKvEfEequ19raZtcvXg" x="841" y="135" width="234" height="79"/>
        </children>
        <children xmi:id="_2nQvAPYIEeq6Moi25ks08g" type="State" element="_2nQvFfYIEeq6Moi25ks08g">
          <children xsi:type="notation:DecorationNode" xmi:id="_2nQvAfYIEeq6Moi25ks08g" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_2nQvAvYIEeq6Moi25ks08g"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_2nQvA_YIEeq6Moi25ks08g"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_2nQvBPYIEeq6Moi25ks08g" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_2nQvBfYIEeq6Moi25ks08g" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_2nQvBvYIEeq6Moi25ks08g"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_2nQvB_YIEeq6Moi25ks08g" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_2nQvCPYIEeq6Moi25ks08g" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_2nQvCfYIEeq6Moi25ks08g"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_2nQvCvYIEeq6Moi25ks08g" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_2nQvC_YIEeq6Moi25ks08g" x="151" y="20" width="270" height="65"/>
        </children>
        <children xmi:id="_2slT4_YIEeq6Moi25ks08g" type="State" element="_2slT-PYIEeq6Moi25ks08g">
          <children xsi:type="notation:DecorationNode" xmi:id="_2slT5PYIEeq6Moi25ks08g" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_2slT5fYIEeq6Moi25ks08g"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_2slT5vYIEeq6Moi25ks08g"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_2slT5_YIEeq6Moi25ks08g" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_2slT6PYIEeq6Moi25ks08g" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_2slT6fYIEeq6Moi25ks08g"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_2slT6vYIEeq6Moi25ks08g" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_2slT6_YIEeq6Moi25ks08g" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_2slT7PYIEeq6Moi25ks08g"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_2slT7fYIEeq6Moi25ks08g" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_2slT7vYIEeq6Moi25ks08g" x="301" y="137" width="216" height="65"/>
        </children>
        <children xmi:id="_2xOjV_YIEeq6Moi25ks08g" type="State" element="_2xOjbPYIEeq6Moi25ks08g">
          <children xsi:type="notation:DecorationNode" xmi:id="_2xOjWPYIEeq6Moi25ks08g" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_2xOjWfYIEeq6Moi25ks08g"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_2xOjWvYIEeq6Moi25ks08g"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_2xOjW_YIEeq6Moi25ks08g" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_2xOjXPYIEeq6Moi25ks08g" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_2xOjXfYIEeq6Moi25ks08g"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_2xOjXvYIEeq6Moi25ks08g" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_2xOjX_YIEeq6Moi25ks08g" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_2xOjYPYIEeq6Moi25ks08g"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_2xOjYfYIEeq6Moi25ks08g" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_2xOjYvYIEeq6Moi25ks08g" x="150" y="254" width="277" height="65"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_lo-GT_EfEequ19raZtcvXg"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_lo-GUPEfEequ19raZtcvXg" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_lo-GUfEfEequ19raZtcvXg" x="24" y="30" width="1117" height="416"/>
    </children>
    <styles xsi:type="notation:BooleanValueStyle" xmi:id="_jyjXAPEfEequ19raZtcvXg" name="inlineDefinitionSection"/>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_jyjXAfEfEequ19raZtcvXg"/>
    <edges xmi:id="_lpEMsPEfEequ19raZtcvXg" type="Transition" element="_lo_UMvEfEequ19raZtcvXg" source="_lo-GFfEfEequ19raZtcvXg" target="_lo-GH_EfEequ19raZtcvXg">
      <children xsi:type="notation:DecorationNode" xmi:id="_lpEMsfEfEequ19raZtcvXg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_lpEMsvEfEequ19raZtcvXg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_lpEMs_EfEequ19raZtcvXg" x="-3"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_lpEMtPEfEequ19raZtcvXg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_lpEMtfEfEequ19raZtcvXg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_lpEMtvEfEequ19raZtcvXg" points="[-8, 9, -15, -45]$[-8, 52, -15, -2]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_lpEMt_EfEequ19raZtcvXg" id="(1.0,0.3333333333333333)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_lpEMuPEfEequ19raZtcvXg" id="(0.953139888632472,0.03701027444044204)"/>
    </edges>
    <edges xmi:id="_2nSkM_YIEeq6Moi25ks08g" type="Transition" element="_2nSkPPYIEeq6Moi25ks08g" source="_2nQvAPYIEeq6Moi25ks08g" target="_lo-GH_EfEequ19raZtcvXg">
      <children xsi:type="notation:DecorationNode" xmi:id="_2nSkOfYIEeq6Moi25ks08g" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_2nSkO_YIEeq6Moi25ks08g"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_2nSkOvYIEeq6Moi25ks08g" x="-50" y="-8"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_2nSkOPYIEeq6Moi25ks08g" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_2nSkN_YIEeq6Moi25ks08g" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_2nSkNvYIEeq6Moi25ks08g" points="[131, 34, -430, -90]$[664, 34, 103, -90]$[664, 101, 103, -23]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_2nSkNfYIEeq6Moi25ks08g" id="(0.508355795148248,0.23333333333333334)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_2nSkNPYIEeq6Moi25ks08g" id="(0.025760537530607353,0.3207557118171644)"/>
    </edges>
    <edges xmi:id="_2smiFPYIEeq6Moi25ks08g" type="Transition" element="_2snJFPYIEeq6Moi25ks08g" source="_2slT4_YIEeq6Moi25ks08g" target="_lo-GH_EfEequ19raZtcvXg">
      <children xsi:type="notation:DecorationNode" xmi:id="_2snJEfYIEeq6Moi25ks08g" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_2snJE_YIEeq6Moi25ks08g"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_2snJEvYIEeq6Moi25ks08g" x="13" y="-10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_2snJEPYIEeq6Moi25ks08g" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_2smiGPYIEeq6Moi25ks08g" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_2smiF_YIEeq6Moi25ks08g" points="[39, 9, -329, 6]$[368, 9, 0, 6]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_2smiFvYIEeq6Moi25ks08g" id="(0.8151658767772512,0.6018867924528302)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_2smiFfYIEeq6Moi25ks08g" id="(0.0,0.5674908747534445)"/>
    </edges>
    <edges xmi:id="_2xPxifYIEeq6Moi25ks08g" type="Transition" element="_2xQYgfYIEeq6Moi25ks08g" source="_2xOjV_YIEeq6Moi25ks08g" target="_lo-GH_EfEequ19raZtcvXg">
      <children xsi:type="notation:DecorationNode" xmi:id="_2xPxj_YIEeq6Moi25ks08g" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_2xQYgPYIEeq6Moi25ks08g"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_2xPxkPYIEeq6Moi25ks08g" x="-41" y="-10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_2xPxjvYIEeq6Moi25ks08g" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_2xPxjfYIEeq6Moi25ks08g" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_2xPxjPYIEeq6Moi25ks08g" points="[-170, 13, -597, 117]$[405, 13, -22, 117]$[405, -91, -22, 13]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_2xPxi_YIEeq6Moi25ks08g" id="(1.6264785266333255,0.5960147261849976)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_2xPxivYIEeq6Moi25ks08g" id="(0.7792562603008722,0.6785216980747708)"/>
    </edges>
    <edges xmi:id="_2nQvDPYIEeq6Moi25ks08g" type="Transition" element="_2nQH8PYIEeq6Moi25ks08g" source="_lo-GH_EfEequ19raZtcvXg" target="_2nQvAPYIEeq6Moi25ks08g">
      <children xsi:type="notation:DecorationNode" xmi:id="_2nQvDfYIEeq6Moi25ks08g" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_2nQvDvYIEeq6Moi25ks08g"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_2nQvD_YIEeq6Moi25ks08g" x="121" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_2nQvEPYIEeq6Moi25ks08g" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_2nQvEfYIEeq6Moi25ks08g" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_2nQvEvYIEeq6Moi25ks08g" points="[91, 0, 517, 96]$[91, -97, 517, -1]$[-492, -97, -66, -1]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_2nQvE_YIEeq6Moi25ks08g" id="(0.29624618160198457,0.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_2nQvFPYIEeq6Moi25ks08g" id="(1.25016846361186,0.3245283018867925)"/>
    </edges>
    <edges xmi:id="_2slT7_YIEeq6Moi25ks08g" type="Transition" element="_2sks0PYIEeq6Moi25ks08g" source="_lo-GH_EfEequ19raZtcvXg" target="_2slT4_YIEeq6Moi25ks08g">
      <children xsi:type="notation:DecorationNode" xmi:id="_2slT8PYIEeq6Moi25ks08g" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_2slT8fYIEeq6Moi25ks08g"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_2slT8vYIEeq6Moi25ks08g" x="-4" y="13"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_2slT8_YIEeq6Moi25ks08g" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_2slT9PYIEeq6Moi25ks08g" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_2slT9fYIEeq6Moi25ks08g" points="[0, -13, 372, -3]$[-329, -13, 43, -3]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_2slT9vYIEeq6Moi25ks08g" id="(0.0,0.4071130188448625)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_2slT9_YIEeq6Moi25ks08g" id="(0.8006093432633716,0.310062893081761)"/>
    </edges>
    <edges xmi:id="_2xOjY_YIEeq6Moi25ks08g" type="Transition" element="_2xOjUPYIEeq6Moi25ks08g" source="_lo-GH_EfEequ19raZtcvXg" target="_2xOjV_YIEeq6Moi25ks08g">
      <children xsi:type="notation:DecorationNode" xmi:id="_2xOjZPYIEeq6Moi25ks08g" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_2xOjZfYIEeq6Moi25ks08g"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_2xOjZvYIEeq6Moi25ks08g" x="7" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_2xOjZ_YIEeq6Moi25ks08g" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_2xOjaPYIEeq6Moi25ks08g" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_2xOjafYIEeq6Moi25ks08g" points="[41, 63, 361, -71]$[41, 137, 361, 3]$[-485, 137, -165, 3]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_2xOjavYIEeq6Moi25ks08g" id="(0.2898060472193327,0.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_2xOja_YIEeq6Moi25ks08g" id="(1.6070555879234285,0.25285473232090816)"/>
    </edges>
    <edges xmi:id="_2smiAfYIEeq6Moi25ks08g" type="Transition" element="_2smiCvYIEeq6Moi25ks08g" source="_2slT4_YIEeq6Moi25ks08g" target="_2nQvAPYIEeq6Moi25ks08g">
      <children xsi:type="notation:DecorationNode" xmi:id="_2smiB_YIEeq6Moi25ks08g" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_2smiCfYIEeq6Moi25ks08g"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_2smiCPYIEeq6Moi25ks08g" x="-4" y="70"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_2smiBvYIEeq6Moi25ks08g" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_2smiBfYIEeq6Moi25ks08g" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_2smiBPYIEeq6Moi25ks08g" points="[62, -31, 214, 53]$[62, -74, 214, 10]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_2smiA_YIEeq6Moi25ks08g" id="(0.08006093432633715,0.5216931216931217)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_2smiAvYIEeq6Moi25ks08g" id="(0.055256064690026946,1.0723270440251573)"/>
    </edges>
    <edges xmi:id="_2xPxdvYIEeq6Moi25ks08g" type="Transition" element="_2xPxf_YIEeq6Moi25ks08g" source="_2xOjV_YIEeq6Moi25ks08g" target="_2slT4_YIEeq6Moi25ks08g">
      <children xsi:type="notation:DecorationNode" xmi:id="_2xPxfPYIEeq6Moi25ks08g" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_2xPxfvYIEeq6Moi25ks08g"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_2xPxffYIEeq6Moi25ks08g" x="-1" y="78"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_2xPxe_YIEeq6Moi25ks08g" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_2xPxevYIEeq6Moi25ks08g" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_2xPxefYIEeq6Moi25ks08g" points="[104, 0, 42, 72]$[104, -59, 42, 13]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_2xPxePYIEeq6Moi25ks08g" id="(0.4611022040395105,0.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_2xPxd_YIEeq6Moi25ks08g" id="(0.1746784021665538,0.7660377358490567)"/>
    </edges>
    <edges xmi:id="_2nRWF_YIEeq6Moi25ks08g" type="Transition" element="_2nR9IvYIEeq6Moi25ks08g" source="_2nQvAPYIEeq6Moi25ks08g" target="_2nQvAPYIEeq6Moi25ks08g">
      <children xsi:type="notation:DecorationNode" xmi:id="_2nRWHfYIEeq6Moi25ks08g" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_2nR9IfYIEeq6Moi25ks08g"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_2nR9IPYIEeq6Moi25ks08g" x="29" y="-15"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_2nRWHPYIEeq6Moi25ks08g" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_2nRWG_YIEeq6Moi25ks08g" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_2nRWGvYIEeq6Moi25ks08g" points="[0, -3, -10, 27]$[-54, -3, -64, 27]$[-54, -33, -64, -3]$[0, -33, -10, -3]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_2nRWGfYIEeq6Moi25ks08g" id="(0.0,0.8534591194968554)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_2nRWGPYIEeq6Moi25ks08g" id="(0.04144204851752021,0.3610062893081761)"/>
    </edges>
    <edges xmi:id="_2sl69_YIEeq6Moi25ks08g" type="Transition" element="_2sl7APYIEeq6Moi25ks08g" source="_2slT4_YIEeq6Moi25ks08g" target="_2slT4_YIEeq6Moi25ks08g">
      <children xsi:type="notation:DecorationNode" xmi:id="_2sl6_fYIEeq6Moi25ks08g" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_2sl6__YIEeq6Moi25ks08g"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_2sl6_vYIEeq6Moi25ks08g" x="46" y="26"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_2sl6_PYIEeq6Moi25ks08g" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_2sl6-_YIEeq6Moi25ks08g" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_2sl6-vYIEeq6Moi25ks08g" points="[0, 15, -7, 34]$[-42, 15, -49, 34]$[-42, -21, -49, -2]$[0, -21, -7, -2]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_2sl6-fYIEeq6Moi25ks08g" id="(0.0,0.6018867924528302)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_2sl6-PYIEeq6Moi25ks08g" id="(0.014556533513879484,0.2918238993710692)"/>
    </edges>
    <edges xmi:id="_2xPKevYIEeq6Moi25ks08g" type="Transition" element="_2xPKg_YIEeq6Moi25ks08g" source="_2xOjV_YIEeq6Moi25ks08g" target="_2xOjV_YIEeq6Moi25ks08g">
      <children xsi:type="notation:DecorationNode" xmi:id="_2xPKgPYIEeq6Moi25ks08g" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_2xPKgvYIEeq6Moi25ks08g"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_2xPKgfYIEeq6Moi25ks08g" x="37" y="-15"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_2xPKf_YIEeq6Moi25ks08g" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_2xPKfvYIEeq6Moi25ks08g" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_2xPKffYIEeq6Moi25ks08g" points="[-47, 13, -51, 35]$[-102, 13, -106, 35]$[-102, -23, -106, -1]$[-47, -23, -51, -1]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_2xPKfPYIEeq6Moi25ks08g" id="(0.17623243629435578,0.5960147261849976)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_2xPKe_YIEeq6Moi25ks08g" id="(0.18918106210095373,0.21673262770363552)"/>
    </edges>
    <edges xmi:id="_2xPKZ_YIEeq6Moi25ks08g" type="Transition" element="_2xPKcPYIEeq6Moi25ks08g" source="_2xOjV_YIEeq6Moi25ks08g" target="_2nQvAPYIEeq6Moi25ks08g">
      <children xsi:type="notation:DecorationNode" xmi:id="_2xPKbfYIEeq6Moi25ks08g" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_2xPKb_YIEeq6Moi25ks08g"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_2xPKbvYIEeq6Moi25ks08g" x="1" y="-77"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_2xPKbPYIEeq6Moi25ks08g" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_2xPKa_YIEeq6Moi25ks08g" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_2xPKavYIEeq6Moi25ks08g" points="[-50, 0, 2, 170]$[-50, -160, 2, 10]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_2xPKafYIEeq6Moi25ks08g" id="(0.35103888468342803,0.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_2xPKaPYIEeq6Moi25ks08g" id="(0.15886118598382748,1.0772486772486771)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
