<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_FPC0oPVBEeqskp5e76VOlw" specification="@EventDriven&#xA;@ChildFirstExecution&#xA;&#xA;interface:&#xA;&#xA;out event evSwitchOn&#xA;out event evSwitchOff&#xA;&#xA;operation switchInit()&#xA;operation switchUpdate()&#xA;operation switchRead() : boolean&#xA;&#xA;internal:&#xA;&#xA;var switchCounter : integer" name="switchMonitor">
    <regions xmi:id="_FPMlo_VBEeqskp5e76VOlw" name="r1">
      <vertices xsi:type="sgraph:Entry" xmi:id="_FPWWo_VBEeqskp5e76VOlw">
        <outgoingTransitions xmi:id="_FPYy4_VBEeqskp5e76VOlw" specification="/ switchInit();&#xD;&#xA;switchCounter = 0" target="_FPXkx_VBEeqskp5e76VOlw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_FPXkx_VBEeqskp5e76VOlw" specification="" name="SwitchOff" incomingTransitions="_FPYy4_VBEeqskp5e76VOlw _vtP7UPXpEeq6Moi25ks08g _yXMZEPXpEeq6Moi25ks08g _EpuVQPXqEeq6Moi25ks08g">
        <outgoingTransitions xmi:id="_kDuTcPXpEeq6Moi25ks08g" specification="every 100 ms" target="_iezkEPXpEeq6Moi25ks08g"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_K_nS0PVGEeqskp5e76VOlw" specification="" name="SwitchOn" incomingTransitions="_4k0gUPXmEeq6Moi25ks08g _IsN6UPXqEeq6Moi25ks08g _KweREPXqEeq6Moi25ks08g">
        <outgoingTransitions xmi:id="_-ANqoPXpEeq6Moi25ks08g" specification="every 100 ms" target="_7y9I4PXpEeq6Moi25ks08g"/>
      </vertices>
      <vertices xsi:type="sgraph:Choice" xmi:id="_iezkEPXpEeq6Moi25ks08g" incomingTransitions="_kDuTcPXpEeq6Moi25ks08g">
        <outgoingTransitions xmi:id="_vSRW4PXmEeq6Moi25ks08g" specification="[switchRead() == true] /&#xD;&#xA;switchCounter++" target="_qEimYPXpEeq6Moi25ks08g"/>
        <outgoingTransitions xmi:id="_vtP7UPXpEeq6Moi25ks08g" specification="else / switchCounter = 0" target="_FPXkx_VBEeqskp5e76VOlw"/>
      </vertices>
      <vertices xsi:type="sgraph:Choice" xmi:id="_qEimYPXpEeq6Moi25ks08g" incomingTransitions="_vSRW4PXmEeq6Moi25ks08g">
        <outgoingTransitions xmi:id="_4k0gUPXmEeq6Moi25ks08g" specification="[switchCounter >= 5] /&#xD;&#xA;switchCounter = 0;&#xD;&#xA;raise evSwitchOn" target="_K_nS0PVGEeqskp5e76VOlw"/>
        <outgoingTransitions xmi:id="_yXMZEPXpEeq6Moi25ks08g" specification="else" target="_FPXkx_VBEeqskp5e76VOlw"/>
      </vertices>
      <vertices xsi:type="sgraph:Choice" xmi:id="_7y9I4PXpEeq6Moi25ks08g" incomingTransitions="_-ANqoPXpEeq6Moi25ks08g">
        <outgoingTransitions xmi:id="_CUKMEPXqEeq6Moi25ks08g" specification="[switchRead() == false] /&#xD;&#xA;switchCounter++" target="_8VRy0PXpEeq6Moi25ks08g"/>
        <outgoingTransitions xmi:id="_IsN6UPXqEeq6Moi25ks08g" specification="else / switchCounter = 0" target="_K_nS0PVGEeqskp5e76VOlw"/>
      </vertices>
      <vertices xsi:type="sgraph:Choice" xmi:id="_8VRy0PXpEeq6Moi25ks08g" incomingTransitions="_CUKMEPXqEeq6Moi25ks08g">
        <outgoingTransitions xmi:id="_EpuVQPXqEeq6Moi25ks08g" specification="[switchCounter >= 5] /&#xD;&#xA;switchCounter = 0;&#xD;&#xA;raise evSwitchOff" target="_FPXkx_VBEeqskp5e76VOlw"/>
        <outgoingTransitions xmi:id="_KweREPXqEeq6Moi25ks08g" specification="else" target="_K_nS0PVGEeqskp5e76VOlw"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_FPMloPVBEeqskp5e76VOlw" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_FPC0oPVBEeqskp5e76VOlw" measurementUnit="Pixel">
    <children xmi:id="_FPTTUPVBEeqskp5e76VOlw" type="Region" element="_FPMlo_VBEeqskp5e76VOlw">
      <children xsi:type="notation:DecorationNode" xmi:id="_FPVvkPVBEeqskp5e76VOlw" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_FPVvkfVBEeqskp5e76VOlw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_FPVvkvVBEeqskp5e76VOlw"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_FPWWoPVBEeqskp5e76VOlw" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_FPW9sPVBEeqskp5e76VOlw" type="Entry" element="_FPWWo_VBEeqskp5e76VOlw">
          <children xmi:id="_FPXkwPVBEeqskp5e76VOlw" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_FPXkw_VBEeqskp5e76VOlw" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_FPXkxPVBEeqskp5e76VOlw"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_FPXkxfVBEeqskp5e76VOlw"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_FPXkwfVBEeqskp5e76VOlw" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_FPXkwvVBEeqskp5e76VOlw"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_FPW9sfVBEeqskp5e76VOlw" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_FPW9svVBEeqskp5e76VOlw" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_FPXkxvVBEeqskp5e76VOlw" x="27" y="4"/>
        </children>
        <children xmi:id="_FPYL0PVBEeqskp5e76VOlw" type="State" element="_FPXkx_VBEeqskp5e76VOlw">
          <children xsi:type="notation:DecorationNode" xmi:id="_FPYL1PVBEeqskp5e76VOlw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_FPYL1fVBEeqskp5e76VOlw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_FPYL1vVBEeqskp5e76VOlw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_FPYL1_VBEeqskp5e76VOlw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_FPYL2PVBEeqskp5e76VOlw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_FPYL2fVBEeqskp5e76VOlw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_FPYy4PVBEeqskp5e76VOlw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_FPYL0fVBEeqskp5e76VOlw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_FPYL0vVBEeqskp5e76VOlw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_FPYy4fVBEeqskp5e76VOlw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_FPYy4vVBEeqskp5e76VOlw" x="13" y="146"/>
        </children>
        <children xmi:id="_K_n54PVGEeqskp5e76VOlw" type="State" element="_K_nS0PVGEeqskp5e76VOlw">
          <children xsi:type="notation:DecorationNode" xmi:id="_K_og8PVGEeqskp5e76VOlw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_K_og8fVGEeqskp5e76VOlw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_K_og8vVGEeqskp5e76VOlw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_K_og8_VGEeqskp5e76VOlw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_K_og9PVGEeqskp5e76VOlw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_K_og9fVGEeqskp5e76VOlw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_K_og9vVGEeqskp5e76VOlw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_K_n54fVGEeqskp5e76VOlw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_K_n54vVGEeqskp5e76VOlw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_K_og9_VGEeqskp5e76VOlw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_K_n54_VGEeqskp5e76VOlw" x="559" y="193" width="83" height="53"/>
        </children>
        <children xsi:type="notation:Shape" xmi:id="_ie0yMPXpEeq6Moi25ks08g" type="Choice" element="_iezkEPXpEeq6Moi25ks08g" fontName="Verdana" lineColor="4210752">
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_ie0yMfXpEeq6Moi25ks08g" x="237" y="35"/>
        </children>
        <children xsi:type="notation:Shape" xmi:id="_qEjNcPXpEeq6Moi25ks08g" type="Choice" element="_qEimYPXpEeq6Moi25ks08g" fontName="Verdana" lineColor="4210752">
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_qEjNcfXpEeq6Moi25ks08g" x="429" y="35"/>
        </children>
        <children xsi:type="notation:Shape" xmi:id="_7y9I4fXpEeq6Moi25ks08g" type="Choice" element="_7y9I4PXpEeq6Moi25ks08g" fontName="Verdana" lineColor="4210752">
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_7y9I4vXpEeq6Moi25ks08g" x="429" y="334"/>
        </children>
        <children xsi:type="notation:Shape" xmi:id="_8VRy0fXpEeq6Moi25ks08g" type="Choice" element="_8VRy0PXpEeq6Moi25ks08g" fontName="Verdana" lineColor="4210752">
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_8VRy0vXpEeq6Moi25ks08g" x="237" y="334"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_FPWWofVBEeqskp5e76VOlw"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_FPTTUfVBEeqskp5e76VOlw" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_FPWWovVBEeqskp5e76VOlw" x="24" y="24" width="710" height="436"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_FPaoEPVBEeqskp5e76VOlw" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_FPaoEvVBEeqskp5e76VOlw" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_FPaoE_VBEeqskp5e76VOlw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_FPaoFPVBEeqskp5e76VOlw"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_FPaoFfVBEeqskp5e76VOlw" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_FPaoFvVBEeqskp5e76VOlw"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_FPbPIPVBEeqskp5e76VOlw" x="10" y="10" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:BooleanValueStyle" xmi:id="_FPMlofVBEeqskp5e76VOlw" name="inlineDefinitionSection"/>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_FPMlovVBEeqskp5e76VOlw"/>
    <edges xmi:id="_FPZZ8PVBEeqskp5e76VOlw" type="Transition" element="_FPYy4_VBEeqskp5e76VOlw" source="_FPW9sPVBEeqskp5e76VOlw" target="_FPYL0PVBEeqskp5e76VOlw">
      <children xsi:type="notation:DecorationNode" xmi:id="_FPaBAfVBEeqskp5e76VOlw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_FPaBAvVBEeqskp5e76VOlw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_FPaBA_VBEeqskp5e76VOlw" x="-83" y="-69"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_FPZZ8fVBEeqskp5e76VOlw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_FPaBAPVBEeqskp5e76VOlw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_FPZZ8vVBEeqskp5e76VOlw" points="[-1, 6, -20, -153]$[-1, 135, -20, -24]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_tA284PVBEeqskp5e76VOlw" id="(0.5,0.5)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_I1HjcPVBEeqskp5e76VOlw" id="(0.5,0.5)"/>
    </edges>
    <edges xmi:id="_vSR98PXmEeq6Moi25ks08g" type="Transition" element="_vSRW4PXmEeq6Moi25ks08g" source="_ie0yMPXpEeq6Moi25ks08g" target="_qEjNcPXpEeq6Moi25ks08g">
      <children xsi:type="notation:DecorationNode" xmi:id="_vSR99PXmEeq6Moi25ks08g" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_vSR99fXmEeq6Moi25ks08g"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_vSR99vXmEeq6Moi25ks08g" x="-11" y="-21"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_vSR98fXmEeq6Moi25ks08g" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_vSR98_XmEeq6Moi25ks08g" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_vSR98vXmEeq6Moi25ks08g" points="[0, 1, -179, -1]$[178, 1, -1, -1]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_vSSlAPXmEeq6Moi25ks08g" id="(0.9333333333333333,0.4)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_vSSlAfXmEeq6Moi25ks08g" id="(0.06666666666666667,0.5333333333333333)"/>
    </edges>
    <edges xmi:id="_4k1HYPXmEeq6Moi25ks08g" type="Transition" element="_4k0gUPXmEeq6Moi25ks08g" source="_qEjNcPXpEeq6Moi25ks08g" target="_K_n54PVGEeqskp5e76VOlw">
      <children xsi:type="notation:DecorationNode" xmi:id="_4k1HZPXmEeq6Moi25ks08g" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_4k1HZfXmEeq6Moi25ks08g"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_4k1HZvXmEeq6Moi25ks08g" x="-63" y="-30"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_4k1HYfXmEeq6Moi25ks08g" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_4k1HY_XmEeq6Moi25ks08g" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_4k1HYvXmEeq6Moi25ks08g" points="[0, 0, -164, -198]$[154, 0, -10, -198]$[154, 151, -10, -47]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_4k1ucPXmEeq6Moi25ks08g" id="(0.9333333333333333,0.4666666666666667)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_4k1ucfXmEeq6Moi25ks08g" id="(0.6249847579563469,0.9836921069797783)"/>
    </edges>
    <edges xmi:id="_kDu6gPXpEeq6Moi25ks08g" type="Transition" element="_kDuTcPXpEeq6Moi25ks08g" source="_FPYL0PVBEeqskp5e76VOlw" target="_ie0yMPXpEeq6Moi25ks08g">
      <children xsi:type="notation:DecorationNode" xmi:id="_kDu6hPXpEeq6Moi25ks08g" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_kDu6hfXpEeq6Moi25ks08g"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_kDu6hvXpEeq6Moi25ks08g" x="52" y="-15"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_kDu6gfXpEeq6Moi25ks08g" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_kDu6g_XpEeq6Moi25ks08g" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_kDu6gvXpEeq6Moi25ks08g" points="[38, 0, -165, 136]$[38, -135, -165, 1]$[200, -135, -3, 1]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_kDwvsPXpEeq6Moi25ks08g" id="(0.2158273381294964,0.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_kDwvsfXpEeq6Moi25ks08g" id="(0.2,0.4666666666666667)"/>
    </edges>
    <edges xmi:id="_vtP7UfXpEeq6Moi25ks08g" type="Transition" element="_vtP7UPXpEeq6Moi25ks08g" source="_ie0yMPXpEeq6Moi25ks08g" target="_FPYL0PVBEeqskp5e76VOlw">
      <children xsi:type="notation:DecorationNode" xmi:id="_vtQiYPXpEeq6Moi25ks08g" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_vtQiYfXpEeq6Moi25ks08g"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_vtQiYvXpEeq6Moi25ks08g" x="-108" y="42"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_vtP7UvXpEeq6Moi25ks08g" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_vtP7VPXpEeq6Moi25ks08g" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_vtP7U_XpEeq6Moi25ks08g" points="[-9, -2, 113, -124]$[-9, 102, 113, -20]$[-109, 102, 13, -20]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_vtRJcPXpEeq6Moi25ks08g" id="(1.0,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_vtRJcfXpEeq6Moi25ks08g" id="(0.9064748201438849,0.6349206349206349)"/>
    </edges>
    <edges xmi:id="_yXMZEfXpEeq6Moi25ks08g" type="Transition" element="_yXMZEPXpEeq6Moi25ks08g" source="_qEjNcPXpEeq6Moi25ks08g" target="_FPYL0PVBEeqskp5e76VOlw">
      <children xsi:type="notation:DecorationNode" xmi:id="_yXMZFfXpEeq6Moi25ks08g" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_yXMZFvXpEeq6Moi25ks08g"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_yXNAIPXpEeq6Moi25ks08g" x="-126" y="72"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_yXMZEvXpEeq6Moi25ks08g" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_yXMZFPXpEeq6Moi25ks08g" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_yXMZE_XpEeq6Moi25ks08g" points="[-9, -2, 300, -122]$[-9, 132, 300, 12]$[-301, 132, 8, 12]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_yXNnMPXpEeq6Moi25ks08g" id="(1.0,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_yXNnMfXpEeq6Moi25ks08g" id="(0.9424460431654677,0.5873015873015873)"/>
    </edges>
    <edges xmi:id="_-AORsPXpEeq6Moi25ks08g" type="Transition" element="_-ANqoPXpEeq6Moi25ks08g" source="_K_n54PVGEeqskp5e76VOlw" target="_7y9I4fXpEeq6Moi25ks08g">
      <children xsi:type="notation:DecorationNode" xmi:id="_-AO4wPXpEeq6Moi25ks08g" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_-AO4wfXpEeq6Moi25ks08g"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_-AO4wvXpEeq6Moi25ks08g" x="41" y="-15"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_-AORsfXpEeq6Moi25ks08g" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_-AORs_XpEeq6Moi25ks08g" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_-AORsvXpEeq6Moi25ks08g" points="[10, 48, 154, -100]$[10, 148, 154, 0]$[-144, 148, 0, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_-APf0PXpEeq6Moi25ks08g" id="(0.36763809291549815,0.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_-APf0fXpEeq6Moi25ks08g" id="(0.9333333333333333,0.4666666666666667)"/>
    </edges>
    <edges xmi:id="_CUKzIPXqEeq6Moi25ks08g" type="Transition" element="_CUKMEPXqEeq6Moi25ks08g" source="_7y9I4fXpEeq6Moi25ks08g" target="_8VRy0fXpEeq6Moi25ks08g">
      <children xsi:type="notation:DecorationNode" xmi:id="_CUKzJPXqEeq6Moi25ks08g" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_CUKzJfXqEeq6Moi25ks08g"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_CUKzJvXqEeq6Moi25ks08g" x="-6" y="-22"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_CUKzIfXqEeq6Moi25ks08g" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_CUKzI_XqEeq6Moi25ks08g" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_CUKzIvXqEeq6Moi25ks08g" points="[0, -11, 277, 0]$[-272, -18, 5, -7]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_CULaMPXqEeq6Moi25ks08g" id="(0.0,1.0)"/>
    </edges>
    <edges xmi:id="_Epu8UPXqEeq6Moi25ks08g" type="Transition" element="_EpuVQPXqEeq6Moi25ks08g" source="_8VRy0fXpEeq6Moi25ks08g" target="_FPYL0PVBEeqskp5e76VOlw">
      <children xsi:type="notation:DecorationNode" xmi:id="_Epu8VPXqEeq6Moi25ks08g" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Epu8VfXqEeq6Moi25ks08g"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Epu8VvXqEeq6Moi25ks08g" x="-76" y="-29"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Epu8UfXqEeq6Moi25ks08g" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Epu8U_XqEeq6Moi25ks08g" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Epu8UvXqEeq6Moi25ks08g" points="[0, -4, 187, 151]$[-186, -4, 1, 151]$[-186, -151, 1, 4]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_EpvjYPXqEeq6Moi25ks08g" id="(0.0,0.7333333333333333)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_EpvjYfXqEeq6Moi25ks08g" id="(0.4748201438848921,0.9365079365079364)"/>
    </edges>
    <edges xmi:id="_IsOhYPXqEeq6Moi25ks08g" type="Transition" element="_IsN6UPXqEeq6Moi25ks08g" source="_7y9I4fXpEeq6Moi25ks08g" target="_K_n54PVGEeqskp5e76VOlw">
      <children xsi:type="notation:DecorationNode" xmi:id="_IsOhZPXqEeq6Moi25ks08g" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_IsOhZfXqEeq6Moi25ks08g"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_IsOhZvXqEeq6Moi25ks08g" x="-88" y="43"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_IsOhYfXqEeq6Moi25ks08g" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_IsOhY_XqEeq6Moi25ks08g" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_IsOhYvXqEeq6Moi25ks08g" points="[14, -8, -167, 97]$[14, -119, -167, -14]$[130, -119, -51, -14]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_IsPIcPXqEeq6Moi25ks08g" id="(0.0,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_IsPIcfXqEeq6Moi25ks08g" id="(0.6617485672478968,1.0782778864970646)"/>
    </edges>
    <edges xmi:id="_Kwe4IPXqEeq6Moi25ks08g" type="Transition" element="_KweREPXqEeq6Moi25ks08g" source="_8VRy0fXpEeq6Moi25ks08g" target="_K_n54PVGEeqskp5e76VOlw">
      <children xsi:type="notation:DecorationNode" xmi:id="_Kwe4JPXqEeq6Moi25ks08g" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Kwe4JfXqEeq6Moi25ks08g"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Kwe4JvXqEeq6Moi25ks08g" x="-113" y="69"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Kwe4IfXqEeq6Moi25ks08g" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Kwe4I_XqEeq6Moi25ks08g" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Kwe4IvXqEeq6Moi25ks08g" points="[-8, -16, -333, 86]$[-8, -143, -333, -41]$[291, -143, -34, -41]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_KwffMPXqEeq6Moi25ks08g" id="(1.0,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_KwffMfXqEeq6Moi25ks08g" id="(0.4411657114985977,1.1161121983039792)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
