<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_FPC0oPVBEeqskp5e76VOlw" specification="@EventDriven&#xA;// Use the event driven execution model.&#xA;// Runs a run-to-completion step&#xA;// each time an event is raised.&#xA;// Switch to cycle based behavior&#xA;// by specifying '@CycleBased(200)'&#xA;// instead.&#xA;&#xA;@ChildFirstExecution&#xA;// In composite states, execute&#xA;// child states first.&#xA;// @ParentFirstExecution does the opposite.&#xA;&#xA;interface:&#xA;// Define events&#xA;// and variables here. &#xA;// Use CTRL + Space for content assist.&#xA;&#xA;out event evSwitchOn&#xA;out event evSwitchOff&#xA;&#xA;operation switchInit()&#xA;operation switchUpdate()&#xA;operation switchRead() : boolean" name="switchMonitor">
    <regions xmi:id="_FPMlo_VBEeqskp5e76VOlw" name="r1">
      <vertices xsi:type="sgraph:Entry" xmi:id="_FPWWo_VBEeqskp5e76VOlw">
        <outgoingTransitions xmi:id="_FPYy4_VBEeqskp5e76VOlw" specification="/ switchInit()" target="_FPXkx_VBEeqskp5e76VOlw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_FPXkx_VBEeqskp5e76VOlw" specification="every 20 ms /&#xD;&#xA;switchUpdate()" name="SwitchOff" incomingTransitions="_FPYy4_VBEeqskp5e76VOlw _QPLvAPVGEeqskp5e76VOlw">
        <outgoingTransitions xmi:id="_uDGdAPVBEeqskp5e76VOlw" specification="every 100 ms [switchRead() == true] / raise evSwitchOn" target="_K_nS0PVGEeqskp5e76VOlw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_K_nS0PVGEeqskp5e76VOlw" specification="every 20 ms /&#xD;&#xA;switchUpdate()" name="SwitchOn" incomingTransitions="_uDGdAPVBEeqskp5e76VOlw">
        <outgoingTransitions xmi:id="_QPLvAPVGEeqskp5e76VOlw" specification="every 100 ms [switchRead() == false] / raise evSwitchOff" target="_FPXkx_VBEeqskp5e76VOlw"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_FPMloPVBEeqskp5e76VOlw" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_FPC0oPVBEeqskp5e76VOlw" measurementUnit="Pixel">
    <children xmi:id="_FPTTUPVBEeqskp5e76VOlw" type="Region" element="_FPMlo_VBEeqskp5e76VOlw">
      <children xsi:type="notation:DecorationNode" xmi:id="_FPVvkPVBEeqskp5e76VOlw" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_FPVvkfVBEeqskp5e76VOlw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_FPVvkvVBEeqskp5e76VOlw"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_FPWWoPVBEeqskp5e76VOlw" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_FPW9sPVBEeqskp5e76VOlw" type="Entry" element="_FPWWo_VBEeqskp5e76VOlw">
          <children xmi:id="_FPXkwPVBEeqskp5e76VOlw" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_FPXkw_VBEeqskp5e76VOlw" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_FPXkxPVBEeqskp5e76VOlw"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_FPXkxfVBEeqskp5e76VOlw"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_FPXkwfVBEeqskp5e76VOlw" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_FPXkwvVBEeqskp5e76VOlw"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_FPW9sfVBEeqskp5e76VOlw" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_FPW9svVBEeqskp5e76VOlw" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_FPXkxvVBEeqskp5e76VOlw" x="92" y="24"/>
        </children>
        <children xmi:id="_FPYL0PVBEeqskp5e76VOlw" type="State" element="_FPXkx_VBEeqskp5e76VOlw">
          <children xsi:type="notation:DecorationNode" xmi:id="_FPYL1PVBEeqskp5e76VOlw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_FPYL1fVBEeqskp5e76VOlw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_FPYL1vVBEeqskp5e76VOlw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_FPYL1_VBEeqskp5e76VOlw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_FPYL2PVBEeqskp5e76VOlw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_FPYL2fVBEeqskp5e76VOlw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_FPYy4PVBEeqskp5e76VOlw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_FPYL0fVBEeqskp5e76VOlw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_FPYL0vVBEeqskp5e76VOlw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_FPYy4fVBEeqskp5e76VOlw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_FPYy4vVBEeqskp5e76VOlw" x="39" y="95"/>
        </children>
        <children xmi:id="_K_n54PVGEeqskp5e76VOlw" type="State" element="_K_nS0PVGEeqskp5e76VOlw">
          <children xsi:type="notation:DecorationNode" xmi:id="_K_og8PVGEeqskp5e76VOlw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_K_og8fVGEeqskp5e76VOlw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_K_og8vVGEeqskp5e76VOlw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_K_og8_VGEeqskp5e76VOlw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_K_og9PVGEeqskp5e76VOlw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_K_og9fVGEeqskp5e76VOlw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_K_og9vVGEeqskp5e76VOlw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_K_n54fVGEeqskp5e76VOlw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_K_n54vVGEeqskp5e76VOlw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_K_og9_VGEeqskp5e76VOlw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_K_n54_VGEeqskp5e76VOlw" x="230" y="94" width="126" height="64"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_FPWWofVBEeqskp5e76VOlw"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_FPTTUfVBEeqskp5e76VOlw" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_FPWWovVBEeqskp5e76VOlw" x="220" y="8" width="400" height="320"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_FPaoEPVBEeqskp5e76VOlw" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_FPaoEvVBEeqskp5e76VOlw" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_FPaoE_VBEeqskp5e76VOlw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_FPaoFPVBEeqskp5e76VOlw"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_FPaoFfVBEeqskp5e76VOlw" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_FPaoFvVBEeqskp5e76VOlw"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_FPbPIPVBEeqskp5e76VOlw" x="10" y="10" width="200" height="400"/>
    </children>
    <styles xsi:type="notation:BooleanValueStyle" xmi:id="_FPMlofVBEeqskp5e76VOlw" name="inlineDefinitionSection"/>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_FPMlovVBEeqskp5e76VOlw"/>
    <edges xmi:id="_FPZZ8PVBEeqskp5e76VOlw" type="Transition" element="_FPYy4_VBEeqskp5e76VOlw" source="_FPW9sPVBEeqskp5e76VOlw" target="_FPYL0PVBEeqskp5e76VOlw">
      <children xsi:type="notation:DecorationNode" xmi:id="_FPaBAfVBEeqskp5e76VOlw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_FPaBAvVBEeqskp5e76VOlw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_FPaBA_VBEeqskp5e76VOlw" x="-52" y="3"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_FPZZ8fVBEeqskp5e76VOlw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_FPaBAPVBEeqskp5e76VOlw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_FPZZ8vVBEeqskp5e76VOlw" points="[2, 6, -3, -77]$[2, 54, -3, -29]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_tA284PVBEeqskp5e76VOlw" id="(0.5,0.5)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_I1HjcPVBEeqskp5e76VOlw" id="(0.5,0.5)"/>
    </edges>
    <edges xmi:id="_uDHEEPVBEeqskp5e76VOlw" type="Transition" element="_uDGdAPVBEeqskp5e76VOlw" source="_FPYL0PVBEeqskp5e76VOlw" target="_K_n54PVGEeqskp5e76VOlw">
      <children xsi:type="notation:DecorationNode" xmi:id="_uDHrIPVBEeqskp5e76VOlw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_uDHrIfVBEeqskp5e76VOlw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_uDHrIvVBEeqskp5e76VOlw" x="11" y="22"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_uDHEEfVBEeqskp5e76VOlw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_uDHEE_VBEeqskp5e76VOlw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_uDHEEvVBEeqskp5e76VOlw" points="[12, 14, -123, 32]$[12, 58, -123, 76]$[161, 58, 26, 76]$[161, 6, 26, 24]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_uDI5QPVBEeqskp5e76VOlw" id="(0.550561797752809,0.7735849056603774)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_uDI5QfVBEeqskp5e76VOlw" id="(0.08716981132075471,0.4630750605326876)"/>
    </edges>
    <edges xmi:id="_QPMWEPVGEeqskp5e76VOlw" type="Transition" element="_QPLvAPVGEeqskp5e76VOlw" source="_K_n54PVGEeqskp5e76VOlw" target="_FPYL0PVBEeqskp5e76VOlw">
      <children xsi:type="notation:DecorationNode" xmi:id="_QPMWFPVGEeqskp5e76VOlw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_QPMWFfVGEeqskp5e76VOlw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_QPMWFvVGEeqskp5e76VOlw" x="3" y="-20"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_QPMWEfVGEeqskp5e76VOlw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_QPMWE_VGEeqskp5e76VOlw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_QPMWEvVGEeqskp5e76VOlw" points="[3, 16, 268, -1]$[3, 123, 268, 106]$[-268, 123, -3, 106]$[-268, 24, -3, 7]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_QPM9IPVGEeqskp5e76VOlw" id="(0.8320754716981132,0.6019975786924939)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_QPM9IfVGEeqskp5e76VOlw" id="(0.2222222222222222,0.8888888888888888)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
